<mat-card>
    <mat-card-title>
        Welcome to My Site
    </mat-card-title>
    <mat-card-subtitle>
        <h3>My name is Pavel Shermayster</h3>
        <h3>I'm a front end developer</h3>
    </mat-card-subtitle>

</mat-card>


<mat-grid-list cols="3">
  <mat-grid-tile>
    <mat-card>
        <mat-card-title>
            My Home Projects:
        </mat-card-title>
    <mat-list>
      <mat-list-item> <a href="https://sherm84.github.io/react-simon/">Simon Game with React</a> </mat-list-item>
      <mat-list-item> <a href="https://sherm84.github.io/VueSimon/">Simon Game with VueJS</a> </mat-list-item>
      <mat-list-item> <a href="https://github.com/sherm84/vanillajs-webpack-starter-pack">
        Starter pack for vanilla es6+ development </a>
      </mat-list-item>
     </mat-list>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
        <mat-card-title>
            Technologies I'm Work with:
        </mat-card-title>

    <mat-list>
      <mat-list-item> <a href="https://angular.io">Angular</a> </mat-list-item>
      <mat-list-item> <a href="https://https://reactjs.org/">React</a> </mat-list-item>
      <mat-list-item> <a href="https://vuejs.org/">
        VueJS</a>
      </mat-list-item>
     </mat-list>
     </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-card>
          <mat-card-title>
              That I'm learned:
            </mat-card-title>

    <mat-list>
    <mat-list-item> <a href="https://courses.edx.org/certificates/46e0530ff973447d98fd7095b960418c">
      University of Pennsilvania: Software Development Fundamentals</a>
    </mat-list-item>
      <mat-list-item> <a href="https://courses.edx.org/certificates/10289fa3d66c43228964513fc910f520">
        University of Pennsilvania: Data Structures and Software Design</a>
       </mat-list-item>
     </mat-list>
     </mat-card>
  </mat-grid-tile>
</mat-grid-list>


